name: PR to Main Workflow

on:
  pull_request:
    branches:
      - main
    types: [opened, synchronize, reopened] # Triggers on PR creation, updates, and reopening

jobs:
  label_images_beta:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Execute image labeling script and write to Beta DB
        run: |
          # Install necessary dependencies if needed, e.g., pip install boto3
          python image_labeling_script.py --output-table beta_results