name: PR to Main Workflow

on:
  pull_request:
    branches:
      - main
    types: [opened, synchronize, reopened]

jobs:
  label_images_beta:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirement.txt || pip install boto3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Execute image labeling script and write to Beta DB
        env:
         S3_BUCKET: ${{ secrets.S3_BUCKET }}
         DYNAMODB_TABLE: ${{ secrets.DYNAMODB_TABLE_BETA }}
         BRANCH_NAME: ${{ github.head_ref }}
        run: |
         python analyze_image.py --output-table ${{ secrets.DYNAMODB_TABLE_BETA }} --images-dir images